//default
/*@media (min-width: 1450px) {
  .container {
    width: 1366px;
    margin: auto;
  }
}


@media(max-width: 768px) {
  .mbp45 {
    padding: 45px 0 !important;
  }
}

@media(max-width: 767px) {
  .pt75, .pt90, .pt95, .pt60,.pt120 {
    padding-top: 50px !important;
  }
  .pb75, .pb90, .pb95, .pb60,.pb120 {
    padding-bottom: 50px !important;
  }
  .Title {
    font-size: 23px;
    line-height: 25px;
  }

  .slick-dots li button:before {
    font-size: 11px;
  }
  .image-section{
    overflow: hidden;
  }
  .middle{
    top:50%;
    left: 20%;
  }
  .package-image img{
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .image-section{
    margin-left: 200px;
    align-content: center;
  }


}*/


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

//--------------end of default

